@font-face {
    font-family: 'tangerineregular';
    src: url('/src/fonts/tangerine-webfont.woff2') format('woff2'),
          url('/src/fonts/tangerine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.available-items-container{

    background-color: #344028;
    
  
}

/*-------Available Items List ----------*/

h1{
    text-align: center;
    /* margin-top:40px; */
    font-family: tangerineregular;
    color:white;
}





/*-------Available Items Card ----------*/
.available-items-card{
    border:5px solid #A68380;
    margin: 10px 0px 10px 0px;
    border-radius:10px;
}

.card-img-top{
    height:600px
}

.card-body{
    height:300px;
    
}

.claim-item-button{
    background-color:#BAD9C8; ;
    height:50px;
    width:120px;
    border-radius: 10px;
    outline:none;
    border:3px solid #517360 ;
}

.claim-item-button:hover{
    box-shadow: 10px 5px 5px #8FA4BF;
}