.file-item-container{
    width:400px;
    
}


li {
    list-style:none;
    margin: 1.2em 0;
    background-color: #f55e3038;
    border-radius:5px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:1.2em, 1.5em;

}

li svg {
    color:#f55321;
   
}

li svg :first-child{
    font-size:1.2em;
    margin-right:0.8em;

}

li svg :first-child p{
    justify-content: space-between;
    font-size: .9em;

}

.actions{
    justify-self:flex-end;
    cursor:pointer;
}

.fa-spinner{
    font-size: 1.2em;
}