
.upload-form-container{
    background-color:#f2EfC2;;
}

#upload-form{
    /* margin: 150px; */
    margin: 0px 150px 0px 150px;
    
}

#title-label{
    margin-top: 40px;
}

#submit-button{
    margin-bottom: 40px;
}

.preview-image{
    height:300px;
    width:300px;
    
}