
.upload-form-container{
    background-color: #03658C;
}

#upload-form{
    /* margin: 150px; */
    margin: 0px 150px 150px 150px;
    
}

#title-label{
    margin-top: 40px;
}

#submit-button{
    margin-bottom: 40px;
}